.hidden-file-input {
    display: none;
  }
  
  .custom-file-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .custom-file-button:hover {
    background-color: #45a049;
  }
  