.container-community {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e1e1e;  /* Sfondo più scuro per un maggiore contrasto */
  overflow: hidden;
}

.search-container {
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1e1e1e;
}

.community-search input {
  color: #ffffff;
  background-color: #2c2c2c;  /* Sfondo dell'input leggermente più chiaro */
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #4a90e2;  /* Bordo blu più luminoso */
  transition: border-color 0.3s ease;
}

.community-search .MuiInputBase-root {
  color: white;
}

.community-search .MuiOutlinedInput-root fieldset {
  border-color: transparent;
}

.community-search .MuiOutlinedInput-root:hover fieldset {
  border-color: #64b5f6;  /* Colore di hover più luminoso */
}

.community-search .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #2196f3;  /* Colore di focus più luminoso */
}

.community-search .MuiInputLabel-root {
  color: #f0f0f0;  /* Etichetta più chiara per un migliore contrasto */
  font-weight: bold;
  font-size: 1.2em;
}

.list-container {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#list {
  background-color: #2c2c2c;  /* Sfondo della lista leggermente più chiaro */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);  /* Ombra più pronunciata */
}

.MuiListItem-root {
  padding: 16px 20px;
  border-bottom: 1px solid #4caf50;  /* Bordo verde più luminoso */
  transition: background-color 0.3s ease;
}

.MuiListItem-root:hover {
  background-color: #3f3f3f;  /* Colore di hover più chiaro */
}

.MuiListItemText-primary {
  font-weight: 500;
  color: #ffffff;  /* Testo bianco per un contrasto massimo */
}

/* Miglioramento dell'aspetto della barra di scorrimento */
.list-container::-webkit-scrollbar {
  width: 10px;
}

.list-container::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: #4a90e2;  /* Colore della barra di scorrimento che si abbina al tema */
  border-radius: 5px;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background-color: #64b5f6;  /* Colore di hover più chiaro */
}