.container-community {
  display: flex;
  justify-content: space-around;
  background-color: #424242;
  overflow: hidden;
  flex-wrap: wrap;
}

/* Stile per l'input di ricerca della comunità */
.community-search input {
  color: #ffffff; /* Colore del testo bianco */
  background-color: #202024; /* Sfondo blu più chiaro */
  border-radius: 8px; /* Angoli arrotondati */
  padding: 10px; /* Spaziatura interna */
  border: 2px solid #3b5998; /* Bordo iniziale */
  transition: border-color 0.3s ease; /* Transizione morbida */
}

.community-search .MuiInputBase-root {
  color: white; /* Colore del testo interno dell'input */
}

.community-search .MuiOutlinedInput-root fieldset {
  border-color: transparent; /* Bordo trasparente */
}

.community-search .MuiOutlinedInput-root:hover fieldset {
  border-color: #4a90e2; /* Colore del bordo quando è hoverato */
}

.community-search .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #1a73e8; /* Colore del bordo quando è focalizzato */
}

.community-search .MuiInputLabel-root {
  color: #d8cfcf; /* Change to a darker color for better contrast */
  font-weight: bold; /* Make the text bold */
  font-size: 1.2em; /* Increase the font size */
}

/* Stile per la lista delle comunità */
#list {
  background-color: #424242;
  border-radius: 8px; /* Angoli arrotondati */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata */
}

/* Stile per gli elementi della lista */
.MuiListItem-root {
  padding: 12px 20px; /* Spaziatura interna maggiore */
  border-bottom: 1px solid #1f9829;
  transition: background-color 0.3s ease; /* Transizione morbida */
}

.MuiListItem-root:hover {
  background-color: #3b3b3b; /* Colore di sfondo quando è hoverato */
}

/* Stile per il testo della lista */
.MuiListItemText-primary {
  font-weight: 500;
  color: #e0e0e0; /* Colore del testo più chiaro */
}
